@import 'reset';
@font-face {
    font-family: 'ralewayblack';
    src: url('../fonts/raleway/raleway-black-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
 
}
@font-face {
    font-family: 'ralewayblack_italic';
    src: url('../fonts/raleway/raleway-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaybold_italic';
    src: url('../fonts/raleway/raleway-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayextrabold';
    src: url('../fonts/raleway/raleway-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayextrabold_italic';
    src: url('../fonts/raleway/raleway-extrabolditalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayextralight';
    src: url('../fonts/raleway/raleway-extralight-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayextralight_italic';
    src: url('../fonts/raleway/raleway-extralightitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayitalic';
    src: url('../fonts/raleway/raleway-italic-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaylight_italic';
    src: url('../fonts/raleway/raleway-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaymedium_italic';
    src: url('../fonts/raleway/raleway-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaysemibold';
    src: url('../fonts/raleway/raleway-semibold-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaysemibold_italic';
    src: url('../fonts/raleway/raleway-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaythin';
    src: url('../fonts/raleway/raleway-thin-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaythin_italic';
    src: url('../fonts/raleway/raleway-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*Geral*/
$fonte-padrao: 'ralewayregular';
$tamanho-padrao: 14px;
body{font-family: $fonte-padrao, sans-serif; font-size: $tamanho-padrao;}
#rodape{width: 100%; background-color:#363636; color:#fff; position: fixed; bottom: 0;left:0; padding: 45px 0}
.infoRodape{max-width: 560px; margin: 0 auto}
.infoRodape .item{float: left; width: calc(100%/3);}
.infoRodape .item:hover img{-webkit-transform: rotateY(360deg); /* Safari */transform: rotateY(360deg); /* Standard syntax */}
.infoRodape .item .imagem, .infoRodape .item .texto{text-align: center}
.infoRodape .item .texto{font-size: 16px; padding-top: 20px}
.logoRodape{position: absolute; top:83px; left:8vw;}
.redesRodape{position: absolute; top:83px; right: 8vw}
.redesRodape .item{float: left; margin-right: 10px; }
.redesRodape .item a{width: 43px; height: 43px; display: block; overflow: hidden;}
.redesRodape .item a:hover img{position: relative; top: -43px;-webkit-transform: rotateY(360deg); /* Safari */transform: rotateY(360deg); /* Standard syntax */  }
