
@font-face {
  font-family: 'Didot-HTF-B06-Bold';
  src: url('Didot-HTF-B06-Bold.eot?#iefix') format('embedded-opentype'),  url('Didot-HTF-B06-Bold.woff') format('woff'), url('Didot-HTF-B06-Bold.ttf')  format('truetype'), url('Didot-HTF-B06-Bold.svg#Didot-HTF-B06-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
